@font-face {
   font-family: "Segoe UI Black";
   src: url("fonts/Segoe UI Black.eot") format("embedded-opentype"), url("fonts/Segoe UI Black.ttf") format("truetype"), url("fonts/Segoe UI Black.woff") format("woff"), url("fonts/Segoe UI Black.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Segoe UI Black";
   src: url("fonts/Segoe UI Black Italic.eot") format("embedded-opentype"), url("fonts/Segoe UI Black Italic.ttf") format("truetype"), url("fonts/Segoe UI Black Italic.woff") format("woff"), url("fonts/Segoe UI Black Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}